.board {
    
}

/* .lane-area {
    display: flex;
    flex-direction: row;
    gap: 15px;
} */

.lane-area {
    display: flex;
    gap: 12px;
    align-items: flex-start;
    /* min-width: 1000px; */
}

.lane-create-box {
    width: 200px;
}