.lane-wrapper {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.lane {
    width: 200px;
    
    max-width: 500px;
    background-color: #f2f2f3;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    
}
