.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

.login-box {
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 40px;
  box-shadow: 0 0.5px 1.5rem rgba(0,0,0,0.15);
  border-radius: 3px;
}

/* 모바일 (최대 767px)에서는 스타일 변경 */
@media (max-width: 767px) {
  .login-box {
    min-width: 400px;
    box-shadow: none;
  }
}

/* 인풋창 호버시 색 진하게 */
.input-group>.form-control:hover,
.input-group>.input-group-text:hover {
  background-color: #f8f9fa !important;
}

.input-group-text {
  cursor: pointer;
  background-color: white !important;
}

.terms-text {
  font-size: 12px;
  text-align: left;
}

.info-text {
  font-size: 16px;
  text-align: left;
}

.label-text {
  font-size: 14px;
  text-align: left;
}

.link-text {
  font-size: 14px;
}


/* 스피너 */
.fa-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}